[submodule "backend"]
	path = backend
	url = https://github.com/alisson-C-angular-php/carrinho_compras_backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/alisson-C-angular-php/carrinho_compras_frontend.git
